@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 170px;
}

.sidebar {
    display: inline-grid;
    grid-template-rows: 10% 30% ;
    row-gap: 30px;
    background-color: #0ea5e9;
    padding: 20px;
    grid-row: 1/3;
}
.sidebar .part div {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
    gap: 15px;
    color: white;
    font-size: 18px;  
    font-weight: 700; 
}
.sidebar .part .header-logo {
    font-size: 24px;
}


.header {
    padding: 5px 40px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 80px 80px;
    box-shadow: 5px 3px 3px gray;
}
.header div {
    display: flex;
    align-items: center;
}
.header .one {
    gap: 20px;
}
.header .one input {
    width: 85%;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: whitesmoke;

}
.header .two {
    gap: 25px;
    justify-content: center;
    font-weight: 700;
}
.header .three {
    gap: 20px;
    font-weight: 700;
    font-size: 14px;
}
.header .three span {
    font-size: 20px;
}
.header .four {
    justify-content: center;
    gap: 25px;
}
.header .four button {
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #0ea5e9;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.main-content {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 40px 20px;
    background-color: whitesmoke;
    gap: 20px;
}
.main-content .projects .card{
    /* width: 300px;
    height: 200px; */
    border-left: 10px solid orange;
    border-radius: 10px;
    padding: 35px 20px;
    background-color: white;
    display: grid;
    gap: 15px;
}
.main-content .projects{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.card p{
    color: gray;
}
.card  span {
    color: black;
    font-weight: 700;
    font-size: 18px;
}
.card div {
    display: flex;
    gap: 10px ;
    justify-content: flex-end;
}

.main-content .other {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 25px;
}
.main-content .other .card2 {
    padding: 30px 20px;
    display: grid;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
}
.card2 p {
    color: grey;
}

.card2 span {
    color: black;
    font-weight: 700;
    font-size: 18px;

}

.main-content .other .card3 {
    padding: 20px 20px;
    display: grid;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    font-weight: 700;

}

.card3 div {
    display: flex;
    align-items: center;
    gap: 10px;
}












